<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-lg-6 col-md-8 col-12">
      <mat-card class="auth">
        <div class="auth__label">Sign in to your account</div>
        <form>
          <mat-form-field>
            <input [(ngModel)]="loggedUser.name"
                   name="name" type="text"
                   placeholder="Email"
                   matInput required>
          </mat-form-field>
          <mat-form-field>
            <input [(ngModel)]="loggedUser.password"
                   type="password"
                   name="password"
                   placeholder="Password"
                   matInput required>
          </mat-form-field>
          <div class="auth__button">
            <button (click)="login()"
                    class="mat-primary"
                    [disabled]="(loggedUser.name === '') || (loggedUser.password === '')"
                    mat-raised-button>Sign in
            </button>
          </div>
        </form>
      </mat-card>
    </div>
  </div>
</div>
