//colors
$color-main-background: #FFFFFF;
$color-dop-background: #4D678C;
$color-lighter-background: #E2E8EF;
$color-navy--light: #829FC9;
$color-navy--extra-light: #C3D8E8;
$color-header-background: #829FC9;
$color-shadow: rgba(31,37,50,0.32);
$color-dop-shadow: rgba(229,229,229,0.5);
$color-font: #757575;

$grid-breakpoints: (
  //xs: 0, // Extra small screen / phone
  sm: 576px, // Small screen / phone
  md: 768px, // Medium screen / tablet
  lg: 992px, // Large screen / desktop
  xl: 1200px // Extra large screen / wide desktop
);

@mixin respond-to($breakpoint) {
  @if map-has-key($grid-breakpoints, $breakpoint) {
    @media screen and (max-width: #{map-get($grid-breakpoints, $breakpoint)}) {
      @content;
    }
  }
  @else {
    @warn "Unfortunately, no value could be retrieved from `#{$breakpoint}`. "
        + "Please make sure it is defined in `$breakpoints` map.";
  }
}

@include respond-to(md) {
  // template
}
