<div class="container image-page">
  <div class="row">

    <div class="col-12">
      <div class="page-title">
        Tooltips for image
      </div>
      <div class="image" [ngStyle]="installBackground()">
        <app-file-uploader [activeColor]="'orangered'" [baseColor]="'lightgray'"
                           (changed)="onChangedImage($event)" (newImg)="isNewImg($event)" ></app-file-uploader>
      </div>
    </div>
    <div class="col-11" *ngFor="let tooltip of tooltips">
      <div class="row">
        <div class="col-sm-10 col-md-3">
          <div class="margin-top-20">
            <mat-form-field>
              <input matInput
                     disabled
                     value="{{tooltip.name}}"
                     placeholder="Tooltip name"/>
            </mat-form-field>
          </div>
        </div>
        <div class="col-sm-10 col-md-9">
          <div class="margin-top-20">
            <mat-form-field>
              <input matInput
                     disabled
                     class="padding-right-20"
                     value="{{tooltip.description}}"
                     placeholder="Tooltip description"/>
            </mat-form-field>
            <button class="button-delete" (click)="deleteTooltip(tooltip.id)">
              <img src="/assets/delete.svg" class="ic_delete"/>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-9 col-md-11">
      <form>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="margin-top-20">
              <mat-form-field>
                <input matInput
                       #name
                       placeholder="Tooltip name"/>
              </mat-form-field>

            </div>
          </div>
          <div class="col-sm-12 col-md-9">
            <div class="margin-top-20">
              <mat-form-field>
                <input matInput
                       #description
                       placeholder="Tooltip description"/>
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col-sm-3 col-md-1">
      <div class="button-right">
        <button mat-mini-fab color="primary" (click)="addTooltip(name, description)">+</button>
      </div>
    </div>
  </div>
  <button (click)="openPreview()">Preview</button>
  <button (click)="addNewImage()">Add new image</button>
</div>
