::ng-deep .cdk-overlay-pane {
  height: 100vh !important;
  width: 100%;
  max-width: 100% !important;
}

.image {
  position: relative;
  width: 100%;
  height: 80%;
  min-width: 300px;
  min-height: 200px;
  margin: 0 auto;
  background: no-repeat center;
  background-size: contain;
  &__tooltip {
    padding: 5px;
    background-color: #757575;
    border-radius: 5px;
    font-size: 12px;
  }
}
