@import './../../styles/_variables';

.image-page {

  position: relative;
  padding: 25px 15px;

  ::ng-deep {
    box-shadow: none !important;
  }
  .margin-top-20 {
    margin-top: 20px;
  }
  .page-title {
    line-height: 22px;
    font-weight: 600;
    font-size: 18px;
    color: $color-font;
    margin-bottom: 14px;
    word-wrap: break-word;
  }
  .image {
    position: relative;
    width: 100%;
    height: 400px;
    margin: 0 auto;
    background: no-repeat center;
    background-size: contain;

  }
  .page-subtitle {
    line-height: 19px;
    font-weight: 600;
    font-size: 16px;
    color: $color-font;
    margin-top: 5px;
    margin-bottom: 10px;
  }
  mat-form-field {
    width: 100%;
  }
  form {
    height: 100%;
    position: relative;

    mat-card-actions {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
  .button-right {
    button {
      position: relative;
      top: 25px;
      height: 40px;
      width: 40px;
      font-size: 21px;
      padding: 0;
      border: none;
      border-radius: 50%;
      background-color: $color-header-background;
      cursor: pointer;
      @media (max-width: 768px) {
        top: 0;
        margin-bottom: 20px;
      }
    }
  }
  .button-delete {
    position: absolute;
    bottom: 20px;
    border: none;
    background-color: $color-main-background;
    cursor: pointer;
  }
  .margin-top-25 {
    margin-top: 25px;
  }
}
